NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=studio-8697076532-14512.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studio-8697076532-14512
NEXT_PUBLIC_FIREBASE_APP_ID=1:910122792787:web:183c7da1ae114ac74ad3a6
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

GSC_SERVICE_ACCOUNT_JSON=
GSC_SITE_URL=https://snipgeek.com/

NEXT_PUBLIC_GISCUS_REPO_ID=
NEXT_PUBLIC_GISCUS_CATEGORY_ID=
NEXT_PUBLIC_INTERNAL_TOOL_ALLOWLIST=

IP_HASH_SALT=
GEMINI_API_KEY=
